h1 {
  color: #83ff00;
}
li {
   color: red;
}

.j {
  color: blue;
}
.s {
  color: orange;
}
#city {
  color: purple;
}
#instructions {
  color: brown;
  font-style: bold;
}
p {
  color: blue;
}
